.film-info {
    color: #A52A2A;
    font-size: 16px;
    width: calc(33.333% - 20px);
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../../images/film.jpeg');
    background-size: cover;
    background-position: center;
    box-shadow: rgba(17, 17, 17, 0.5) 1px 1px 8px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
  }
  
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid hsl(180, 100%, 25%);
    border-color: hsl(180, 100%, 25%) transparent hsl(180, 100%, 25%) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }