

.nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    height: 65px;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 5px;
    line-height: 65px;
}

.link {
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.link:hover {
    background-color: lightseagreen;
    transition: .5s
}

.active-link {
    background-color: lightseagreen;
}